/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Montserrat')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */

main-color = #2B303B
background-color = #2B303B

body
  font-family 'Quicksand'
  background-color background-color
  color #414E5B
p
  line-height 1.8
  color #4B5364
header
  font-family 'Quicksand'
  padding 50px 10px
  color #fff
  font-size 36px
  text-align center
  background-color main-color
header p
  margin 10px
  font-size 16px

.container
  width 960px
  margin 50px auto
  
.color
  width 100%
  
.module
  width 150px
  height 170px
  background-color #fff
.M_color
  width 150px
  height 130px
  background-color #4A90E2
  z-index 9999
.M_Numerical
  width 150px
  height 40px
  background-color #242832
  font-size 14px
  
.M_Numerical p
  color #fff
  font-size 16px
  text-align center
 

footer
  width 500px
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px
