html(ng-modules="node.crud, user")
    head
        link(rel='stylesheet',href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
        link(rel='stylesheet', href="./css/style.css")
        script(src="./lib/jquery-1.10.2.min.js")
        script(src="./lib/angular.min.js")  
        script(src="./lib/angular.ng-modules.js")  
        script(src="./lib/lodash.compat.min.js")
        script(src="./lib/angular-sanitize.min.js")
        script(src="./lib/angular-resource.min.js")
        script(src="./system/common/util.js")
        script(src="./system/node/crud.js")
        script(src="./system/node/index.js")
        script(src="./system/user/session.js")
        script(src="./system/user/user.js")
    title -FN-Color
    body(ng-controller="user")
        header
            img.logo(src="img/logo.svg" )
            p FN-Color, for Engineer & Designer

        div(ng-if="user.id", ng-controller="node.crud", crud-config='{"type":"color"}' crud-params='{"limit":256,"uid":user.id}',ng-init="crud.query()")
            .container
                .color(ng-repeat= "color in crud.data.records")
                    .module
                        .M_color(style="background:{{color.value}};")
                            .Delete(ng-click="crud.remove(color,$index, true)") 
                                i.fa.fa-times
                        .M_Numerical
                            p.text {{color.value}}
                        .colorsubmit(ng-controller="node.crud", crud-config='{"type":"color"}',ng-init="newColor={}",ng-if="user.id")
            .addColor(ng-init="newColor={}")
                form(name="addColor")
                    .form-group
                        //- input(ng-model="newColor.content", ng-pattern='(\#(\\d{6}|\\d{3})|rgba\\([\\d,]*\\))')
                        input(ng-model="newColor.value", required,placeholder='#FFF | RGBA(255,255,255,1)',ng-pattern='/(\#(\[0-9a-fA-F]{6}|\[0-9a-fA-F]{3})|rgba\\([\\d,]*\\))/')
                        button.btn(ng-click="addColor.$valid&&crud.create(newColor,true)") add
        footer
         p FN-Color.Zerojs.io, powered by Zerojs


